/* Général */

body {
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

#main-admin {
    display: flex;
}



/* En-tête */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-title p {
    margin: 0;
}



/* Menu de connexion */

#header-connection {
    align-self: flex-end;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropdown-button {
    background-color: #3e8e41;
}



/* Menu de navigation */

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav a {
    padding: 1rem;
}

#icon-burger {
    display: none;
}



/* Menu du panneau d'administration */

#admin-menu {
    margin-right: 5rem;
}



/* Home */

#last-posts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}

#last-posts article {
    width: 30%;
}

.last-post-date, .last-post-comments {
    display: flex;
    align-items: center;
}

.last-post-icons {
    margin-right: 0.5rem;
}



/* Légendes */

#table-caption > div {
    display: flex;
}

#table-caption > div > div {
    display: flex;
    align-items: center;
}

#table-caption > div > div:nth-child(1) {
    margin-right: 1rem;
}

#table-caption > div > div > i {
    margin: 0.5rem;
}



/* Pop up d'alerte de suppression */

#alert-deletion {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 15%;
    overflow: auto;
}



/* Pied de page */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5% 0 5%;
}

#footer-content {
    display: flex;
    align-items: center;
    width: 40rem;
}

#footer-image {
    float: left;
    width: 10rem;
}

#footer-image img {
    width: 100%;
}

#footer-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#footer-infos ul {
    list-style-type: none;
    display: flex;
}

#footer-navigation ul li a {
    padding: 0.5rem;
}

#footer-social ul li a {
    font-size: 2.5rem;
    margin: 0.5rem;
}

#footer-copyright {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 1rem;
}