/* Général */

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

main.main {
    width: 75%;
    margin: auto;
    padding: 6rem 0 6rem 0;
}

main.main-admin {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin: auto;
    padding: 6rem 0 6rem 0;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 0;
}

main.main h2 {
    text-align: center;
}

main.main-admin h2 {
    text-align: start;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

label {
    font-weight: 600;
}

p.message-success {
    width: fit-content;
    background-color: rgb(204,255,230);
    border: 0.0625rem solid rgb(0,204,102);
    padding: 0.5rem;
}

p.message-error {
    width: fit-content;
    background-color: rgb(255,204,204);
    border: 0.0625rem solid rgb(255,0,0);
    padding: 0.5rem;
}



/* En-tête */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0,98,128);
    padding: 2rem 12.5% 2rem 12.5%;
}

#header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    color: rgb(255,255,255);
    margin-bottom: 2rem;
}

#header-title p {
    margin: 0;
}



/* Menu de connexion */

#header-connection {
    align-self: flex-end;
}

#header-connection > a {
    position: absolute;
    width: 6.5rem;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(0,195,255);
    border: none;
    top: 1rem;
    right: 12.5%;
    padding: 1rem;
}

#header-connection > a:hover {
    color: rgb(0,0,0);
    background-color: rgb(128,225,255);
}

.dropdown-button {
    width: 11rem;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(0,195,255);
    border: none;
    padding: 1rem;
    outline: none;
}

.dropdown-button > i {
    margin-left: 0.5rem;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    position: absolute;
    display: none;
    width: 11rem;
    text-align: end;
    background-color: rgb(241,241,241);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    margin: 0;
}
  
.dropdown-content a {
    display: block;
    color: rgb(0,0,0);
    padding: 0.75rem;
}
  
.dropdown-content a:hover {
    background-color: rgb(217,217,217);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropdown-button {
    color: rgb(0,0,0);
    background-color: rgb(128,225,255);
}



/* Menu de navigation */

.active {
    border-bottom: 0.2rem solid rgb(128,225,255);
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav a {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: rgb(255,255,255);
    margin: 0.75rem;
    padding: 0.25rem;
}

.menu-nav a:hover {
    font-weight: 600;
    color: rgb(0,195,255);
}

#icon-burger {
    display: none;
}



/* Pied de page */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0,98,128);
    padding: 2rem 12.5% 0 12.5%;
}

#footer-content {
    display: flex;
    align-items: center;
}

#footer-image {
    width: 8rem;
    margin-right: 3rem;
}

#footer-image img {
    width: 100%;
}

#footer-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-infos ul {
    display: flex;
}

#footer-navigation ul li a {
    letter-spacing: 0.05rem;
    color: rgb(255,255,255);
    padding: 0.5rem;
}

#footer-navigation ul li a:hover {
    font-weight: 600;
    color: rgb(0,195,255);
}

#footer-social ul li a {
    font-size: 2.5rem;
    color: rgb(255,255,255);
    margin: 0.5rem;
}

#footer-social ul li a:hover {
    color: rgb(0,195,255);
}

#footer-copyright {
    display: flex;
    align-items: center;
    align-self: center;
    color: rgb(128,225,255);
    margin-top: 1rem;
}

#footer-copyright a {
    color: rgb(255,255,255);
    margin-left: 0.5rem;
}

#footer-copyright a:hover {
    font-weight: 600;
    color: rgb(0,195,255);
}



/* Page d'accueil */

h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: normal;
}

#home-title img {
    width: 100%;
}

#home-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0 5rem 0;
}

#home-book > div:nth-child(1) {
    width: 30%;
}

#home-book > div:nth-child(1) > img {
    width: 100%;
}

#home-book > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 5%;
}

#home-book > div:nth-child(2) > div:nth-child(1) {
    width: 60%;
    align-self: flex-start;
    margin-bottom: 1rem;
}

#home-book > div:nth-child(2) > div:nth-child(2) {
    width: 60%;
    align-self: flex-end;
    margin-top: 1rem;
}

#home-book > div:nth-child(2) > div:nth-child(1) h2, #home-book > div:nth-child(2) > div:nth-child(1) p {
    text-align: start;
}

#home-book > div:nth-child(2) > div:nth-child(2) h2, #home-book > div:nth-child(2) > div:nth-child(2) p {
    text-align: end;
}

#last-posts {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#last-posts > p {
    text-align: center;
}

#last-posts article {
    position: relative;
    width: 27%;
    background-color: rgb(255,242,230);
    padding: 2%;
    border: 0.0625rem solid rgb(254,217,183);
}

#last-posts article:hover {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
}

#last-posts article h3 {
    margin: 0;
}

.last-post-infos {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 4rem 0;
}

.last-post-date, .last-post-comments {
    display: flex;
    align-items: center;
}

.last-post-date p, .last-post-comments p {
    margin: 0.5rem 0 0.5rem 0;
}

.last-post-icons {
    color: rgb(240,113,103);
    margin-right: 0.5rem;
}

#last-posts article a {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(240,113,103);
    padding: 0.75rem;
}

#last-posts article a:hover {
    background-color: rgb(244,146,139);
}



/* L'auteur */

#section-about {
    display: flex;
    justify-content: space-between;
}

#section-about figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin: 0;
}

#section-about figure img {
    width: 100%;
}

#section-about figcaption {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
}

#section-about > div {
    width: 55%;
}

#section-about h2 {
    text-align: start;
}



/* Le roman */

#section-novel-nopost p {
    text-align: center;
}

#section-novel-posts {
    display: flex;
    flex-direction: column;
}

#section-novel-posts article {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#section-novel-posts h2 {
    z-index: 1;
    align-self: flex-start;
    width: 85%;
    text-align: start;
    font-size: 1.5rem;
    background-color: rgb(254,217,183);
    padding: 1rem;
}

div.post-content {
    align-self: flex-end;
    width: 93%;
    background-color: rgb(255,242,230);
    border: 0.0625rem solid rgb(254,217,183);
    margin-top: -3rem;
    padding: 2rem 1rem 1rem 1rem;
}

div.post-content:hover {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
}

div.post-content > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.post-content > div > div {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

div.post-content > div > div i {
    color: rgb(240,113,103);
    margin-right: 0.5rem;
}

div.post-content a {
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(240,113,103);
    padding: 0.75rem;
}

div.post-content a:hover {
    background-color: rgb(244,146,139);
}

#section-novel-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 3rem;
}

#section-novel-pagination span, #section-novel-pagination a {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(204,224,230);
    margin: 0.5rem;
}

#section-novel-pagination a {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(101,189,195);
    margin: 0.5rem;
}

#section-novel-pagination span:hover, #section-novel-pagination a:hover {
    background-color: rgb(0,175,185);
}



/* Détail de chapitre */

#section-chapter-details h2 {
    text-align: start;
    margin-bottom: 1rem;
}

#section-chapter-details > div:nth-child(2) {
    display: flex;
    align-items: center;
}

#section-chapter-details > div:nth-child(2) > div {
    display: flex;
    align-items: center;
}

#section-chapter-details > div:nth-child(2) > div:nth-child(1) {
    margin-right: 3rem;
}

#section-chapter-details > div:nth-child(2) > div > i {
    margin-right: 0.5rem;
}

#section-chapter-details > div:nth-child(3) {
    margin: 1rem 0 1rem 0;
}

#section-chapter-comments {
    width: 60%;
    margin: 4rem auto 0 auto;
}

#section-chapter-comments h3, #section-chapter-sendcomment h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: normal;
}

#section-chapter-comments article {
    background-color: rgb(255,242,230);
    border: 0.0625rem solid rgb(254,217,183);
    margin-bottom: 1.5rem;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

#section-chapter-comments article:hover {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
}

#section-chapter-comments article h4 {
    margin: 0;
}

#section-chapter-comments article p:nth-child(2) {
    margin: 0.5rem 0 1rem 0;
}

#section-chapter-comments article div {
    float: right;
    color: rgb(240,113,103);
}

#section-chapter-comments article div a {
    color: rgb(240,113,103);
}

#section-chapter-comments article div a:hover {
    color: rgb(244,146,139);
}

#section-chapter-comments article p.comment-reported {
    font-style: italic;
    margin: 1rem 0 -1rem 0;
}

#section-chapter-sendcomment {
    width: 60%;
    margin: 4rem auto 0 auto;
}

#section-chapter-sendcomment form {
    display: flex;
    flex-direction: column;
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    padding: 1.5rem;
}

#section-chapter-sendcomment form > div:nth-child(1), #section-chapter-sendcomment form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#comment-name {
    height: 2rem;
    border: 0.1rem solid rgb(255,255,255);
    margin-bottom: 1rem;
}

#section-chapter-sendcomment form textarea {
    resize: none;
    height: 6rem;
    border: 0.1rem solid rgb(255,255,255);
    margin-bottom: 1rem;
}

#comment-name:focus, #section-chapter-sendcomment form textarea:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-chapter-sendcomment input[type=submit] {
    cursor: pointer;
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
    outline: none;
}

#section-chapter-sendcomment input[type=submit]:hover {
    background-color: rgb(101,189,195);
}



/* Contact */

#main-contact {
    padding: 3rem 0 32rem 0;
}

#section-contact-informations {
    width: 30%;
    background-color: rgb(255,242,230);
    border: 0.0625rem solid rgb(254,217,183);
    padding: 1.5rem 10% 1.5rem 1.5rem;
}

#section-contact-informations p {
    margin: 0.5rem 0 0 0;
}

#section-contact-form {
    position: absolute;
    top: 25rem;
    left: 38%;
    width: 50%;
}

#section-contact-form > div {
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    padding: 1.5rem;
}

#section-contact-form form {
    display: flex;
    flex-direction: column;
}

#section-contact-form form > div:nth-child(1), #section-contact-form form > div:nth-child(2), #section-contact-form form > div:nth-child(3), #section-contact-form form > div:nth-child(4) {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
}

#contact-name, #contact-mail, #contact-subject {
    height: 2rem;
    border: 0.1rem solid rgb(255,255,255);
}

#contact-message {
    resize: none;
    height: 6rem;
    border: 0.1rem solid rgb(255,255,255);
    margin-bottom: 1rem;
}

#contact-name:focus, #contact-mail:focus, #contact-subject:focus, #contact-message:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-contact-form input[type=submit] {
    cursor: pointer;
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
    outline: none;
}

#section-contact-form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}



/* Page de connexion */

#section-connection-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    margin: auto;
    padding: 1.5rem;
}

#section-connection-form > div {
    width: 100%;
}

#section-connection-form form > div:nth-child(1), #section-connection-form form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
}

#signin-mail, #signin-password {
    height: 2rem;
    border: 0.1rem solid rgb(255,255,255);
}

#signin-mail:focus, #signin-password:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-connection-form form > div:nth-child(2) > a {
    color: rgb(0,145,153);
    margin: 1rem 0 1rem 0;
}

#section-connection-form form > div:nth-child(2) > a:hover {
    color: rgb(0,175,185);
}

#section-connection-form input[type=submit] {
    cursor: pointer;
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
    outline: none;
}

#section-connection-form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}

#section-connection-message {
    width: 45%;
    margin: auto;
}



/* Oubli de mot de passe */

#section-forgotten-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    margin: auto;
    padding: 1.5rem;
}

#section-forgotten-password > p {
    text-align: center;
    margin: 0 0 2rem 0;
}

#section-forgotten-password form {
    width: 100%;
}

#section-forgotten-password form > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.5rem;
}

#newpass-mail {
    height: 2rem;
    border: 0.1rem solid rgb(255,255,255);
}

#newpass-mail:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-forgotten-password form input[type=submit] {
    cursor: pointer;
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
    outline: none;
}

#section-forgotten-password form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}



/* Pages d'erreurs */

section.section-errors {
    text-align: center;
}



/* Panneau d'administration */

#admin-menu {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
    margin-right: 5rem;
}

#admin-menu p {
    font-weight: 600;
    margin: 0;
}

#admin-menu li a {
    display: block;
    color: rgb(0,0,0);
    background-color: rgb(241,241,241);
    border-radius: 0 2rem 2rem 0;
    padding: 0.75rem;
}

#admin-menu li a.admin-active {
    background-color: rgb(204,224,230);
}

#admin-menu li a:hover {
    background-color: rgb(101,189,195);
}

#admin-content {
    width: 100%;
}



/* Panneau d'administration : chapitres et commentaires */

#admin-content table {
    border-collapse: collapse;
}

#admin-content table th {
    background-color: rgb(254,217,183);
    padding: 0.5rem;
}

#admin-content table td {
    text-align: center;
    background-color: rgb(255,242,230);
    border: 0.0625rem solid rgb(254,217,183);
    padding: 0.25rem;
}

#admin-content table td i {
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(240,113,103);
}

#admin-content table td i:hover {
    color: rgb(244,146,139);
}

#section-adminchapters-content table tr > th:nth-child(1), #section-adminchapters-content table tr > td:nth-child(1) {
    min-width: 5.4rem;
}

#section-adminchapters-content > a {
    display: flex;
    align-items: center;
    color: rgb(240,113,103);
    margin-bottom: 1rem;
}

#section-adminchapters-content > a:hover {
    color: rgb(244,146,139);
}

#section-adminchapters-content > a > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}



/* Légendes */

#table-caption h3 {
    font-size: 1rem;
    margin: 2rem 0 0 0;
}

#table-caption > div {
    display: flex;
}

#table-caption > div > div {
    display: flex;
    align-items: center;
}

#table-caption > div > div:nth-child(1) {
    margin-right: 1rem;
}

#table-caption > div > div > i {
    margin: 0.5rem;
}



/* Pop up d'alerte de suppression */

#alert-deletion {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 15%;
    overflow: auto;
}

#alert-deletion > div {
    width: 18rem;
    height: 7rem;
    background-color: rgb(255,255,255);
    border: 0.0625rem solid rgb(254,217,183);
    margin: auto;
    padding: 2rem;
}

#alert-deletion > div > div:nth-child(1) > p {
    text-align: center;
    font-weight: 600;
    margin: 0 0 2rem 0;
}

#alert-cancel, #alert-url {
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(240,113,103);
    border: none;
    padding: 0.75rem;
    outline: none;
}

#alert-cancel:hover, #alert-url:hover {
    background-color: rgb(244,146,139);
}

#alert-cancel {
    float: left;
}

#alert-url {
    float: right;
}



/* Panneau d'administration : édition des chapitres */

#section-adminchapters-edit form {
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}

#section-adminchapters-edit form > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

#section-adminchapters-edit form > div:nth-child(1), #section-adminchapters-edit form > div:nth-child(2) {
    margin-bottom: 1rem;
}

#editchapter-title {
    height: 2rem;
    border: 0.1rem solid rgb(255,255,255);
}

#editchapter-title:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-adminchapters-edit form input[type=submit] {
    cursor: pointer;
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
    outline: none;
}

#section-adminchapters-edit form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}



/* Panneau d'administration : profil */

#section-profile > div:nth-child(2) {
    margin-bottom: 2rem;
}

#section-profile a {
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
}

#section-profile a:hover {
    background-color: rgb(101,189,195);
}



/* Panneau d'administration : changements d'e-mail et de mot de passe */

section.section-admin-change form {
    width: 50%;
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}

section.section-admin-change form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

section.section-admin-change form input[type=email], section.section-admin-change form input[type=password] {
    height: 2rem;
    border: 0.1rem solid rgb(255,255,255);
}

section.section-admin-change form input[type=email]:focus, section.section-admin-change form input[type=password]:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

section.section-admin-change form input[type=submit] {
    cursor: pointer;
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
    outline: none;
}

section.section-admin-change form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}