/* Général */
body {
    background-color: rgb(217,217,217);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 0;
}
main {
    padding: 7.625rem 10% 4rem 10%;
}
main.main-admin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.section-design {
    background-color: rgb(255,255,255);
    padding: 3rem;
}
h1, h2 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
input[type=text], input[type=email], input[type=password], textarea {
    -webkit-appearance: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 2rem;
    border: 0.0625rem solid rgb(0,0,0);
    border-radius: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
    border: 0.0625rem solid rgb(0,153,204);
}
input[type=submit] {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    border: none;
    border-radius: 0;
    letter-spacing: 0.1rem;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
input[type=submit]:hover {
    background-color: rgb(0,153,204);
}
label {
    font-weight: bold;
}
p.message-success {
    background-color: rgb(204,255,230);
    border: 0.0625rem solid rgb(0,204,102);
    text-align: center;
    padding: 0.5rem;
}
p.message-error {
    background-color: rgb(255,204,204);
    border: 0.0625rem solid rgb(255,0,0);
    text-align: center;
    padding: 0.5rem;
}

/* En-tête */
header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgb(242,242,242);
    padding: 1rem 10% 1rem 10%;
}
#header-title a {
    display: flex;
    flex-direction: column;
    color: rgb(0,0,0);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Menu de navigation */
.active {
    font-weight: bold;
}
#icon-burger {
    display: none;
}
.menu-nav {
    display: flex;
    margin: 0;
}
.menu-nav li a {
    display: block;
    color: #000000;
    text-shadow: 0.0625rem 0.0625rem 0.1rem rgba(0,0,0,0);
    letter-spacing: 0.1rem;
    margin: 0.75rem;
}
.menu-nav li a:hover {
    color: rgb(0,153,204);
    text-shadow: 0.0625rem 0.0625rem 0.1rem rgba(0,0,0,0.2);
}

/* Pied de page */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242,242,242);
    padding: 1.5rem 10% 1rem 10%;
}
#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23rem;
}
#footer-image {
    width: 8rem;
}
#footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-links ul {
    display: flex;
}
#footer-links ul li a {
    color: rgb(0,115,153);
    font-size: 3rem;
    margin: 0.5rem;
}
#footer-links ul li a:hover {
    color: rgb(0,153,204);
}
#footer-links > a {
    color: rgb(0,115,153);
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0);
    letter-spacing: 0.1rem;
}
#footer-links > a:hover {
    color: rgb(0,153,204);
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2);
}
#footer-copyright p {
    margin: 1.5rem 0 0 0;
}

/* Page d'accueil */
#home-book {
    margin-bottom: 3rem;
}
#home-book > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#home-book > div > div:nth-child(1) {
    width: 30%;
}
#home-book > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 65%;
}
#home-book > div > div:nth-child(2) > div:nth-child(1) {
    align-self: flex-start;
    text-align: start;
    width: 75%;
}
#home-book > div > div:nth-child(2) > div:nth-child(2) {
    align-self: flex-end;
    text-align: end;
    width: 75%;
}
#home-book > div > div:nth-child(2) > div > h2 {
    font-family: "Lora";
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: none;
}
#home-last > div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
#home-last article {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 27%;
    background-color: rgb(255,255,255);
    padding: 2.5%;
}
#home-last article h3 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
#home-last article > div {
    margin: 1.5rem 0 1.5rem 0;
}
#home-last article > div > p {
    margin: 0;
}
#home-last article div.last-post-infos {
    color: rgb(153,153,153);
    font-size: 0.9rem;
    padding-bottom: 4rem;
}
#home-last article div.last-post-date, #home-last article div.last-post-comments {
    display: flex;
    align-items: center;
}
#home-last article div.last-post-date > p, #home-last article div.last-post-comments > p {
    margin: 0 0 0.5rem 0.5rem;
}
#home-last article a {
    position: absolute;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    bottom: 10%;
    right: 7.5%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#home-last article a:hover {
    background-color: rgb(0,153,204);
}
#home-last > div > p {
    width: 100%;
    text-align: center;
}

/* L'auteur */
#section-about {
    margin-bottom: 3rem;
}
#section-about > div {
    display: flex;
    justify-content: space-between;
}
#section-about > div > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0;
}
#section-about > div > figure > figcaption {
    text-align: center;
    font-family: "Lora", serif;
}
#section-about > div > div {
    width: 65%;
}
#section-about > div > div > p {
    margin: 0 0 1rem 0;
}
#section-books > div {
    display: flex;
    justify-content: space-around;
}
div.books-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.books-detail > div:nth-child(1) {
    position: relative;
    width: 18rem;
    height: 29.75rem;
    overflow: hidden;
}
div.books-detail > div:nth-child(1) > div {
    position: absolute;
    background-color: rgb(242,242,242);
    border-top: 0.5rem solid rgb(0,153,204);
    top: 27.5rem;
    padding: 1.5rem;
}
div.books-detail > div:nth-child(1) > div > i {
    position: absolute;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    border-radius: 100%;
    top: -1.5rem;
    right: 1rem;
    padding: 0.75rem;
}
div.books-detail > div:nth-child(1) > div > h3 {
    font-family: "Lora", serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}
div.books-detail > div:nth-child(2) {
    margin-top: 1rem;
}
div.books-detail > div:nth-child(2) > i {
    margin: 0.5rem;
}
div.books-detail > div:nth-child(2) > a {
    color: rgb(0,0,0);
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0);
    letter-spacing: 0.1rem;
}
div.books-detail > div:nth-child(2) > a:hover {
    color: rgb(0,153,204);
    text-shadow: 0.0625rem 0.0625rem 0.0625rem rgba(0,0,0,0.2);
}

/* Le roman */
#section-novel-nopost > p {
    text-align: center;
}
#section-novel-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
}
#section-novel-posts article {
    position : relative;
    width: 42.5%;
    background-color: rgb(255,255,255);
    margin-bottom: 5%;
    padding: 2.5%;
}
#section-novel-posts article h3 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}
#section-novel-posts article div.post-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(153,153,153);
    font-size: 0.9rem;
    margin: 1.5rem 0 1.5rem 0;
}
#section-novel-posts article div.post-date, #section-novel-posts article div.post-comments {
    display: flex;
    align-items: center;
}
#section-novel-posts article div.post-date i, #section-novel-posts article div.post-comments i {
    margin-right: 0.5rem;
}
#section-novel-posts article > div:nth-child(2) > div:nth-child(2) {
    padding-bottom: 4rem;
}
#section-novel-posts article a {
    position: absolute;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    bottom: 10%;
    right: 5%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#section-novel-posts article a:hover {
    background-color: rgb(0,153,204);
}
#section-novel-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
#section-novel-pagination span, #section-novel-pagination a {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    color: rgb(0,0,0);
    background-color: rgb(242,242,242);
    margin: 0.5rem;
}
#section-novel-pagination a {
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    margin: 0.5rem;
}
#section-novel-pagination span:hover, #section-novel-pagination a:hover {
    color: rgb(255,255,255);
    background-color: rgb(0,153,204);
}

/* Détail de chapitre */
#section-chapter-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 3rem 0;
}
#section-chapter-details > h2 {
    margin: 0 0 1.5rem 0;
}
#section-chapter-details > h3 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
#section-chapter-details > div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: rgb(153,153,153);
    margin: 1.5rem 0 3rem 0;
}
#section-chapter-details > div:nth-child(3) > div:nth-child(1), #section-chapter-details > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    align-items: center;
}
#section-chapter-details > div:nth-child(3) > div:nth-child(1) i, #section-chapter-details > div:nth-child(3) > div:nth-child(2) i {
    margin-right: 0.5rem;
}
#section-chapter-details > div:nth-child(3) > div:nth-child(1) p, #section-chapter-details > div:nth-child(3) > div:nth-child(2) p {
    margin: 0;
}
#section-chapter-comments {
    width: 55%;
    margin: 0 auto 3rem auto;
}
#section-chapter-comments h3, #section-chapter-sendcomment h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
#section-chapter-comments article {
    background-color: rgb(191,191,191);
    margin-bottom: 1rem;
    padding: 5% 5% 7.5% 5%;
}
#section-chapter-comments article h4 {
    margin: 0;
}
#section-chapter-comments article > p:nth-child(2) {
    font-size: 0.9rem;
    margin: 0.5rem 0 1.5rem 0;
}
#section-chapter-comments article > p:nth-child(3) {
    margin: 0 0 1.5rem 0;
}
#section-chapter-comments article > p.comment-reported {
    font-style: italic;
    margin: 0 0 -2.5% 0;
}
#section-chapter-comments article > div {
    float: right;
}
#section-chapter-comments article > div > i, #section-chapter-comments article > div > a {
    color: rgb(0,115,153);
    letter-spacing: 0.1rem;
}
#section-chapter-comments article > div > a:hover {
    color: rgb(0,153,204);
}
#section-chapter-sendcomment {
    width: 55%;
    margin: auto;
}
#section-chapter-sendcomment form {
    background-color: rgb(255,255,255);
    padding: 5%;
}
#section-chapter-sendcomment form > div:nth-child(2) {
    margin: 1rem 0 3rem 0;
}
#comment-content {
    height: 4rem;
}
#section-chapter-sendcomment form > div:nth-child(3) {
    position: relative;
}

/* Contact */
#section-contact-informations {
    width: 55%;
    margin: 0 auto 3rem auto;
}
#section-contact-informations div p {
    margin: 0.25rem 0 0.25rem 0;
}
#section-contact-informations div p:nth-child(1) {
    font-weight: bold;
    margin: 0 0 1rem 0;
}
#section-contact-form {
    width: 55%;
    margin: auto;
}
#section-contact-form form > div:nth-child(2), #section-contact-form form > div:nth-child(3) {
    margin-top: 1rem;
}
#section-contact-form form > div:nth-child(4) {
    margin: 1rem 0 3rem 0;
}
#contact-message {
    height: 10rem;
}
#section-contact-form form > div:nth-child(5) {
    position: relative;
}

/* Connexion */
#section-connection-form, #section-connection-message {
    width: 55%;
    margin: auto;
}
#section-connection-form form > div:nth-child(2) {
    margin: 1rem 0 2rem;
}
#section-connection-form form > div:nth-child(3) {
    padding-bottom: 4rem;
}
#section-connection-form form > div:nth-child(3) > a {
    color: rgb(0,115,153);
    letter-spacing: 0.1rem;
}
#section-connection-form form > div:nth-child(3) > a:hover {
    color: rgb(0,153,204);
}
#section-connection-form form > div:nth-child(4) {
    position: relative;
}

/* Mot de passe oublié */
#section-forgotten-password {
    width: 55%;
    margin: auto;
}
#section-forgotten-password p {
    margin: 0;
}
#section-forgotten-password > div {
    margin-bottom: 1rem;
}
#section-forgotten-password form > div:nth-child(1) {
    margin-top: 1rem;
    padding-bottom: 4rem;
}
#section-forgotten-password form > div:nth-child(2) {
    position: relative;
}

/* Mentions légales */
#section-legal h3 {
    margin-top: 2rem;
}
#section-legal > div > div:nth-child(1) > h3 {
    margin-top: 0;
}
#section-legal h4 {
    margin: 1.5rem 0 0.75rem 0;
}
#section-legal > div > div:nth-child(1) p {
    margin: 0;
}

/* Panneau d'administration */
#admin-menu {
    width: 19rem;
    margin: 2.5rem 3rem 0 0;
}
#admin-menu ul li {
    margin-bottom: 0.5rem;
}
#admin-menu ul li a {
    display: block;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#admin-menu ul li a.admin-active {
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
}
#admin-menu ul li a:hover, #admin-menu ul li a.admin-active:hover {
    color: rgb(255,255,255);
    background-color: rgb(0,153,204);
}
#admin-content {
    width: 100%;
}
section.section-admin-messages {
    margin-top: 1rem;
}
#section-admin-chapters, #section-admin-comments, #section-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Administration : chapitres et commentaires */
#section-admin-chapters > div:nth-child(1) {
    margin-bottom: 2rem;
}
#section-admin-chapters > div:nth-child(1) > i {
    color: rgb(0,115,153);
    margin-right: 0.5rem;
}
#section-admin-chapters > div:nth-child(1) > a {
    color: rgb(0,115,153);
    letter-spacing: 0.1rem;
}
#section-admin-chapters > div:nth-child(1) > a:hover {
    color: rgb(0,153,204);
}
#admin-content table {
    border-collapse: collapse;
}
#admin-content table th {
    background-color: rgb(191,191,191);
    border: 0.0625rem solid rgb(153,153,153);
    padding: 0.5rem;
}
#admin-content table td {
    text-align: center;
    border: 0.0625rem solid rgb(153,153,153);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}
#admin-content table td i {
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(0,115,153);
}
#admin-content table td i:hover {
    color: rgb(0,153,204);
}

/* Administration : légendes */
#table-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table-caption h3 {
    font-size: 1rem;
    margin: 2rem 0 0 0;
}
#table-caption > div {
    display: flex;
}
#table-caption > div > div {
    display: flex;
    align-items: center;
}
#table-caption > div > div:nth-child(1) {
    margin-right: 1rem;
}
#table-caption > div > div > i {
    margin: 0.5rem;
}

/* Administration : pop up d'alerte de suppression */
#alert-deletion {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 10%;
    overflow: auto;
}
#alert-deletion > div {
    width: 20rem;
    height: 7rem;
    background-color: rgb(255,255,255);
    margin: auto;
    padding: 2rem;
}
#alert-deletion > div > div:nth-child(1) > p {
    text-align: center;
    font-weight: 600;
    margin: 0 0 2rem 0;
}
#alert-deletion > div > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
}
#alert-cancel, #alert-url {
    cursor: pointer;
    outline: none;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#alert-cancel:hover, #alert-url:hover {
    background-color: rgb(0,153,204);
}

/* Administration : édition des chapitres */
#section-adminchapters-edit > form > div:nth-child(2) {
    margin-top: 1rem;
    padding-bottom: 4rem;
}
#section-adminchapters-edit > form > div:nth-child(3) {
    position: relative;
}

/* Administration : profil et modifications */
#section-profile > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
#section-profile > div > a {
    outline: none;
    color: rgb(255,255,255);
    background-color: rgb(0,115,153);
    border: none;
    letter-spacing: 0.1rem;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#section-profile > div > a:hover {
    background-color: rgb(0,153,204);
}
section.section-admin-change > form > div:nth-child(2) {
    margin: 1rem 0 1rem 0;
}
section.section-admin-change > form > div:nth-child(3) {
    padding-bottom: 4rem;
}
section.section-admin-change > form > div:nth-child(4) {
    position: relative;
}

/* Pages d'error */
section.section-error > p {
    text-align: center;
}

/* Animation */
div.books-detail > div:nth-child(1) > div:hover {
    animation: animation-slide 1000ms ease-in-out both;
}
@keyframes animation-slide {
    0%    { transform: translateY(0); }
    100%  { transform: translateY(-15.5rem); }
}