/* Général */

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

#main-admin {
    display: flex;
}



/* En-tête */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#header-title p {
    margin: 0;
}



/* Menu de connexion */

#header-connection {
    align-self: flex-end;
}

#header-connection > a {
    position: absolute;
    width: 6.5rem;
    background-color: rgb(0,98,128);
    color: rgb(255,255,255);
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    top: 0;
    right: 0;
    padding: 1rem;
    border: none;
}

#header-connection > a:hover {
    background-color: rgb(0,137,179);
}

.dropdown-button {
    width: 11rem;
    background-color: rgb(39,103,124);
    color: rgb(255,255,255);
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border: none;
}

.dropdown-button > i {
    margin-left: 0.5rem;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    width: 11rem;
    text-align: end;
    background-color: rgb(241,241,241);
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    margin: 0;
}
  
.dropdown-content a {
    display: block;
    color: rgb(0,0,0);
    padding: 0.75rem 1rem;
}
  
.dropdown-content a:hover {
    background-color: rgb(217,217,217);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropdown-button {
    background-color: rgb(116,170,186);
}



/* Menu de navigation */

.active {
    background-color: red;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.menu-nav a {
    color: rgb(0,0,0);
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.menu-nav a:hover {
    color: rgb(0,175,185);
    font-weight: 600;
}

#icon-burger {
    display: none;
}



/* Menu du panneau d'administration */

#admin-menu {
    margin-right: 5rem;
}



/* Home */

#main-home section {
    padding: 3rem 0 3rem 0;
}

#section-title img {
    width: 100%;
}

#section-title h1 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    font-weight: normal;
}

#section-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-book > div:nth-child(1) {
    width: 30%;
}

#section-book > div:nth-child(1) > img {
    width: 100%;
}

#section-book > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 5%;
}

#section-book > div:nth-child(2) > div:nth-child(1) {
    align-self: flex-start;
    width: 60%;
    text-align: start;
}

#section-book > div:nth-child(2) > div:nth-child(2) {
    align-self: flex-end;
    width: 60%;
    text-align: end;
}

#section-last h2 {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 0 3rem 0;
}

#last-posts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

#last-posts article {
    width: 27%;
    background-color: rgb(255,242,230);
    padding: 2%;
    border: 0.0625rem solid rgb(254,217,183);
}

#last-posts article:hover {
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.4);
}

#last-posts article h3 {
    margin: 0;
}

.last-post-infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.last-post-date, .last-post-comments {
    display: flex;
    align-items: center;
}

.last-post-icons {
    color: rgb(240,113,103);
    margin-right: 0.5rem;
}

#last-posts article a {
    float: right;
    color: rgb(255,255,255);
    background-color: rgb(240,113,103);
    padding: 0.75rem;
}

#last-posts article a:hover {
    background-color: rgb(244,146,139);
}



/* Contact */

#main-contact {
    width: 75%;
    padding: 3rem 0 28rem 0;
}

#main-contact h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 0;
}

#section-contact-informations {
    width: 30%;
    background-color: rgb(255,242,230);
    border: 0.0625rem solid rgb(254,217,183);
    padding: 1.5rem 10% 1.5rem 1.5rem;
}

#section-contact-informations p {
    margin: 0.5rem 0 0 0;
}

#section-contact-form {
    position: absolute;
    top: 25rem;
    left: 38%;
    width: 50%;
}

#section-contact-form > div {
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    padding: 1.5rem;
}

#section-contact-form form {
    display: flex;
    flex-direction: column;
}

#section-contact-form form > div:nth-child(1), #section-contact-form form > div:nth-child(2), #section-contact-form form > div:nth-child(3), #section-contact-form form > div:nth-child(4) {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
}

#section-contact-form label {
    font-weight: 600;
}

#contact-name, #contact-mail, #contact-subject {
    height: 2rem;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    border: none;
}

#contact-message {
    height: 6rem;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    border: none;
    margin-bottom: 1rem;
}

#contact-name:focus, #contact-mail:focus, #contact-subject:focus, #contact-message:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-contact-form input[type=submit] {
    cursor: pointer;
    float: right;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
}

#section-contact-form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}



/* Page de connexion */

#main-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 3rem 0;
}

#main-connection section {
    width: 50%;
}

#section-connection-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204,224,230);
    border: 0.0625rem solid rgb(101,189,195);
    padding: 1.5rem;
}

#section-connection-form h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 0;
}

#section-connection-form > div {
    width: 100%;
}

#section-connection-form form {
    display: flex;
    flex-direction: column;
}

#section-connection-form form > div:nth-child(1), #section-connection-form form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 0;
}

#section-connection-form label {
    font-weight: 600;
}

#signin-mail, #signin-password {
    height: 2rem;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    border: none;
}

#signin-mail:focus, #signin-password:focus {
    border: 0.1rem solid rgb(0,175,185);
    outline: none;
}

#section-connection-form form > div:nth-child(2) > a {
    color: rgb(0,145,153);
    margin-top: 1rem;
}

#section-connection-form form > div:nth-child(2) > a:hover {
    color: rgb(0,175,185);
}

#section-connection-form input[type=submit] {
    cursor: pointer;
    float: right;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: rgb(255,255,255);
    background-color: rgb(0,175,185);
    border: none;
    padding: 0.75rem;
}

#section-connection-form input[type=submit]:hover {
    background-color: rgb(101,189,195);
}



/* Légendes */

#table-caption > div {
    display: flex;
}

#table-caption > div > div {
    display: flex;
    align-items: center;
}

#table-caption > div > div:nth-child(1) {
    margin-right: 1rem;
}

#table-caption > div > div > i {
    margin: 0.5rem;
}



/* Pop up d'alerte de suppression */

#alert-deletion {
    z-index: 2;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 15%;
    overflow: auto;
}



/* Pied de page */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0,98,128);
    margin-top: 4rem;
    padding: 2rem 5% 0 5%;
}

#footer-content {
    display: flex;
    align-items: center;
    width: 40rem;
}

#footer-image {
    float: left;
    width: 10rem;
}

#footer-image img {
    width: 100%;
}

#footer-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#footer-infos ul {
    list-style-type: none;
    display: flex;
}

#footer-navigation ul li a {
    color: rgb(255,255,255);
    letter-spacing: 0.05rem;
    padding: 0.5rem;
}

#footer-navigation ul li a:hover {
    color: rgb(0,195,255);
    font-weight: 600;
}

#footer-social ul li a {
    color: rgb(255,255,255);
    font-size: 2.5rem;
    margin: 0.5rem;
}

#footer-social ul li a:hover {
    color: rgb(0,195,255);
}

#footer-copyright {
    display: flex;
    align-items: center;
    align-self: center;
    color: rgb(179,237,255);
    margin-top: 1rem;
}

#footer-copyright a {
    color: rgb(255,255,255);
}

#footer-copyright a:hover {
    color: rgb(0,195,255);
    font-weight: 600;
}