@media screen and (max-width: 768px) {

    /* Menu de navigation */
    #icon-burger {
        display: block;
    }
    .menu-nav {
        display: none;
    }
    .menu-burger {
        display: block;
    }

}