@media screen and (max-width: 1280px) {

    /* Général */
    main.main {
        width: 90%;
    }
    main.main-admin {
        width: 90%;
    }

    /* En-tête */
    header {
        padding: 2rem 5% 2rem 5%;
    }

    /* Menu de connexion */
    #header-connection > a {
        right: 5%;
    }

    /* Pied de page */
    footer {
        padding: 2rem 5% 0 5%;
    }

    /* Page d'accueil */
    #home-book > div:nth-child(2) > div:nth-child(1) {
        width: 80%;
    }
    #home-book > div:nth-child(2) > div:nth-child(2) {
        width: 80%;
    }

    /* Contact */
    #section-contact-form {
        width: 55%;
    }

}



@media screen and (max-width: 1024px) {

    /* Page d'accueil */
    #home-book > div:nth-child(2) > div:nth-child(1) {
        width: 95%;
    }
    #home-book > div:nth-child(2) > div:nth-child(2) {
        width: 95%;
    }

    /* Détail de chapitre */
    #section-chapter-comments {
        width: 80%;
    }
    #section-chapter-sendcomment {
        width: 80%;
    }

    /* Connexion et oubli de mot de passe */
    #section-connection-form, #section-forgotten-password {
        width: 60%;
    }
    
    /* Panneau d'administration */
    #admin-menu {
        min-width: 13rem;
        margin-right: 4rem;
    }

    /* Changements */
    section.section-admin-change form {
        width: 70%;
    }

}



@media screen and (max-width: 768px) {

    /* Général */
    main.main {
        padding: 3rem 0 3rem 0;
    } 
    main.main-admin {
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 3rem 0;
    }
    h2 {
        font-size: 1.25rem
    }
    main.main-admin h2 {
        text-align: center;
    }
    input[type=text], input[type=email], input[type=password], input[type=submit], textarea {
        font-size: 0.9rem;
    }
    p.message-success, p.message-error {
        font-size: 0.9rem;
        margin: 1rem auto 1rem auto;
        padding: 0.25rem;
    }
    label {
        font-size: 0.9rem;
    }

    /* En-tête */
    header {
        align-items: flex-start;
        height: 5rem;
        padding: 1rem 5% 1rem 5%;
    }
    header.header-burger {
        height: fit-content;
    }
    #header-title a {
        position: absolute;
        font-size: 1.5rem;
        margin: 0;
        top: 1.25rem;
    }
    header > nav {
        align-self: flex-end;
    }

    /* Menu de connexion */
    .menu-margin-small {
        margin-top: 4rem;
    }
    .menu-margin-large {
        margin-top: 6rem;
    }
    #header-connection > a {
        width: 5.5rem;
        text-align: center;
        font-size: 0.8rem;
        top: 0rem;
        right: 0rem;
        padding: 0.5rem;
    }
    .dropdown-button {
        width: 8.5rem;
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .dropdown-content {
        z-index: 1;
        width: 8.5rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2);
    }
    .dropdown-content a {
        font-size: 0.8rem;
        padding: 0.35rem;
    }

    /* Menu de navigation */
    .menu-nav {
        display: none;
    }
    .menu-burger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .menu-nav li {
        margin: 0.5rem;
    }
    .menu-nav a {
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        margin: 0.75rem 0 0.75rem 0.75rem;
        padding: 0.15rem;
    }
    #icon-burger {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        color: rgb(255,255,255);
        background-color: rgb(0,195,255);
        border-radius: 50%;
        top: 4rem;
        right: 5%;
    }

    /* Pied de page */
    footer {
        font-size: 0.8rem;
        padding: 1rem;
    }
    #footer-content {
        flex-direction: column;
    }
    #footer-image {
        margin-right: 0;
    }
    #footer-infos ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    #footer-navigation {
        order: 2;
    }
    #footer-navigation ul li {
        margin-bottom: 0.5rem;
    }
    #footer-social {
        order: 1;
    }
    #footer-social ul li a {
        font-size: 2rem;

    }
    #footer-copyright  {
        flex-direction: column;
    }
    #footer-copyright p, #footer-copyright a {
        margin: 0;
    }

    /* Page d'accueil */
    h1 {
        font-size: 1.5rem;
    }
    #home-book {
        flex-direction: column;
        font-size: 0.9rem;
        padding: 2rem 0 2rem 0;
    }
    #home-book > div:nth-child(1) {
        width: 75%;
        margin-bottom: 2rem;
    }
    #home-book > div:nth-child(2) {
        width: 100%;
        margin-left: 0;
    }
    #last-posts {
        flex-direction: column;
        align-items: center;
    }
    #last-posts article {
        width: 80%;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }
    #last-posts article:hover {
        box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.4);
    }
    #last-posts article h3 {
        font-size: 1rem;
    }
    .last-post-infos {
        margin: 1rem 0 3.5rem 0;
    }
    .last-post-date p, .last-post-comments p {
        margin: 0.15rem 0 0.15rem 0;
    }
    #last-posts article a {
        padding: 0.5rem;
    }

    /* L'auteur */
    #section-about {
        flex-direction: column;
        align-items: center;
    }
    #section-about figure {
        width: 75%;
        margin-bottom: 2rem;
    }
    #section-about figcaption {
        font-size: 0.9rem;
    }
    #section-about > div {
        width: 100%;
    }

    /* Le roman */
    #section-novel-posts h2 {
        width: 75%;
        font-size: 1.1rem;
        padding: 0.5rem;
    }
    div.post-content {
        width: 85%;
        font-size: 0.9rem;
        margin-top: -2rem;
        padding: 1rem;
    }
    div.post-content:hover {
        box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.4);
    }
    div.post-content > div {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
    }
    div.post-content > div > div > p {
        margin: 0 0 0.5rem 0;
    }
    div.post-content a {
        padding: 0.5rem;
    }

    /* Détail de chapitre */
    #section-chapter-details > div:nth-child(2) {
        flex-direction: column;
        align-items: start;
    }
    #section-chapter-details > div:nth-child(2) > div {
        margin: 0.25rem 0 0.25rem 0;
    }
    #section-chapter-details > div:nth-child(2) p {
        font-size: 0.9rem;
        margin: 0;
    }
    #section-chapter-details > div:nth-child(3) {
        font-size: 0.9rem;
    }
    #section-chapter-comments {
        width: 100%;
        margin: 2rem auto 0 auto;
    }
    #section-chapter-comments h3, #section-chapter-sendcomment h3 {
        font-size: 1.1rem;
    }
    #section-chapter-comments article {
        margin-bottom: 1rem;
        padding: 1rem 1rem 1.5rem 1rem;
    }
    #section-chapter-comments article:hover {
        box-shadow: 0 0 0.5rem 0 rgba(0,0,0,0.4);
    }
    #section-chapter-comments article h4, #section-chapter-comments article p {
        font-size: 0.9rem;
    }
    #section-chapter-comments article div a {
        font-size: 0.9rem;
    }
    #section-chapter-comments article p.comment-reported {
        margin: 0.5rem 0 -0.5rem 0;
    }
    #section-chapter-sendcomment {
        width: 100%;
        margin: 2rem auto 0 auto;
    }
    #section-chapter-sendcomment form {
        padding: 1rem;
    }
    #comment-name {
        height: 1.5rem;
    }
    #section-chapter-sendcomment input[type=submit] {
        padding: 0.5rem;
    }

    /* Contact */
    #main-contact {
        padding: 3rem 0 3rem 0;
    }
    #section-contact-informations {
        width: 15rem;
        margin: auto;
        padding: 1rem;
    }
    #section-contact-informations p {
        font-size: 0.9rem;
        margin: 0;
    }
    #section-contact-form {
        position: static;
        width: 100%;
        margin: 2rem auto 0 auto;
    }
    #section-contact-form > div {
        padding: 1rem;
    }
    #contact-name, #contact-mail, #contact-subject {
        height: 1.5rem;
    }
    #section-contact-form input[type=submit] {
        padding: 0.5rem;
    }

    /* Page de connexion */
    #section-connection-form {
        width: 90%;
        padding: 1rem;
    }
    #signin-mail, #signin-password {
        height: 1.5rem;
    }
    #section-connection-form form > div:nth-child(2) > a {
        font-size: 0.9rem;
    }
    #section-connection-form input[type=submit] {
        padding: 0.5rem;
    }

    /* Oubli de mot de passe */
    #section-forgotten-password {
        width: 90%;
        padding: 1rem;
    }
    #newpass-mail {
        height: 1.5rem;
    }
    #section-forgotten-password form input[type=submit] {
        padding: 0.5rem;
    }

    /* Pages d'erreurs */
    section.section-errors p {
        font-size: 0.9rem;
    }

    /* Panneau d'administration */
    #admin-menu {
        align-items: center;
        margin: 0 0 2rem 0;
    }
    #admin-menu li a {
        width: 11rem;
        text-align: center;
        font-size: 0.9rem;
        border-radius: 2rem;
        padding: 0.5rem;
    }

    /* Panneau d'administration : chapitres et commentaires */
    #section-adminchapters-content, #section-admincomments-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section-adminchapters-content a {
        font-size: 0.9rem;
    }
    #admin-content table {
        font-size: 0.9rem;
    }

    /* Légendes */
    #table-caption h3, #table-caption p {
        font-size: 0.9rem;
    }

    /* Pop up d'alerte de suppression */
    #alert-deletion > div {
        width: 15rem;
        height: 6rem;
        padding: 1rem;
    }
    #alert-deletion > div > div:nth-child(1) > p {
        margin: 0 0 1.5rem 0;
    }
    #alert-cancel, #alert-url {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    /* Panneau d'administration : édition des chapitres */
    #section-adminchapters-edit form {
        padding: 1rem 1rem 3rem 1rem;
    }
    #editchapter-title {
        height: 1.5rem;
    }
    #section-adminchapters-edit form input[type=submit] {
        padding: 0.5rem;
    }

    /* Panneau d'administration : profil */
    #section-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section-profile > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section-profile p {
        font-size: 0.9rem;
    }
    #section-profile a {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    /* Panneau d'administration : changements d'e-mail et de mot de passe */
    section.section-admin-change form {
        width: 90%;
        padding: 1rem 1rem 3rem 1rem;
    }
    section.section-admin-change form input[type=email], section.section-admin-change form input[type=password] {
        height: 1.5rem;
    }
    section.section-admin-change form input[type=submit] {
        padding: 0.5rem;
    }

}



@media screen and (max-width: 480px) {
    
    /* Panneau d'administration : chapitres et commentaires */
    #admin-content table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

}